<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="/">PRODUCT ITEMS</a>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            <a class="nav-link btn btn-primary" href="/checkout" type="btn btn-primary" id="cart"> Cart : <span class="badge badge-light" id="cartTotal"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
        </li>
    </ul>
</nav>
<br>